bufbuild_protovalidate_community_nipunn1313_mypy>=3.6.0.1
bufbuild_protovalidate_community_nipunn1313_mypy_grpc>=3.6.0.1
bufbuild_protovalidate_grpc_python>=1.65.0.1
bufbuild_protovalidate_protocolbuffers_pyi>=27.2.0.2
bufbuild_protovalidate_protocolbuffers_python>=27.2.0.2
certifi>=2024.7.4
charset-normalizer>=3.3.2
compassiot_api_community_nipunn1313_mypy>=3.6.0
compassiot_api_community_nipunn1313_mypy_grpc>=3.6.0
compassiot_api_grpc_python>=1.65.0
compassiot_api_protocolbuffers_pyi>=27.2.0
compassiot_api_protocolbuffers_python>=27.2.0
compassiot_model_community_nipunn1313_mypy>=3.6.0
compassiot_model_community_nipunn1313_mypy_grpc>=3.6.0
compassiot_model_grpc_python>=1.65.0
compassiot_model_protocolbuffers_pyi>=27.2.0
compassiot_model_protocolbuffers_python>=27.2.0
googleapis_googleapis_community_nipunn1313_mypy>=3.6.0
googleapis_googleapis_community_nipunn1313_mypy_grpc>=3.6.0
googleapis_googleapis_grpc_python>=1.65.0
googleapis_googleapis_protocolbuffers_pyi>=27.2.0
googleapis_googleapis_protocolbuffers_python>=27.2.0
grpc-interceptor>=0.15.4
grpc-stubs>=1.53.0.5
grpcio>=1.64.1
grpcio-tools>=1.64.1
idna>=3.7
protobuf>=5.27.2
requests>=2.32.3
setuptools>=70.3.0
types-protobuf>=5.27.0
urllib3>=2.2.2
